# Twitch App
# Both client ID and secret must be obtained from a Twitch developer app.
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret

# Auth
# These tokens needed for your bot to be able to subscribe to chat messages.
ACCESS_TOKEN=
REFRESH_TOKEN=

# Output
# Bot ID is the Twitch user ID of the bot while the chat channel ID is the user who's chat
# the bot is actually polling and responding within.
BOT_USER_ID=your_bot_user_id
CHAT_CHANNEL_USER_ID=your_channel_user_id

# The primary command that should tip off your chat bot that the message is a command
# e.g. "bot! enter <name>" if you're letting users enter a name into a hat
PRIMARY_COMMAND="bot!"